# ==============================================================================
# CONFIGURAÇÃO DO BANCO DE DADOS DE DESENVOLVIMENTO
# ==============================================================================
DB_USER=seu_usuario_aqui
DB_PASSWORD=sua_senha_aqui
DB_HOST=localhost
DB_PORT=5432
DB_NAME=seu_banco_aqui

# Exemplo de formato de string de conexão para o SQLAlchemy
DATABASE_URL=postgresql://seu_usuario:sua_senha@localhost:5432/seu_banco