__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
ENV/
env/
.venv
pip-wheel-metadata/

develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


.pytest_cache/
.htmlcov/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

.env
.env.[a-zA-Z]*
!.env.example # Permite commitar o arquivo de exemplo (sem dados sensíveis)
.secrets

.db_data/
postgres_data/

.vscode/
!.vscode/extensions.json
!.vscode/launch.json

.idea/

.DS_Store
Thumbs.db